body {
    background-color: rgb(245, 238, 238);
}

h1 {
    color:rgb(107, 78, 169);
}

.ribbon-bar {
    background-color: blueviolet;
    color:aliceblue;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: sticky;
    top:0;
    z-index: 1000;
}
  