body {
    background-color: rgb(245, 238, 238);
}

h1 {
    color:rgb(107, 78, 169);
}

.ribbon-bar {
    background-color: blueviolet;
    color:aliceblue;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: sticky;
    top:0;
    z-index: 1000;
}

li {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px auto;
    width: 300px;
    background-color: #f9f9f9;
    font-family: sans-serif;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    text-align: left;
  }
  